<a href="https://colab.research.google.com/github/bundickm/TL_Resources_and_Answer_Keys/blob/master/Unit_1/Dataframe_Review_Filtering%2C_Feature_Engineering%2C_and_Top_N.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
columns = ['symboling','norm_loss','make','fuel','aspiration','doors',
           'bod_style','drv_wheels','eng_loc','wheel_base','length','width',
           'height','curb_weight','engine','cylinders','engine_size',
           'fuel_system','bore','stroke','compression','hp','peak_rpm',
           'city_mpg','hgwy_mpg','price']
auto_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
auto_df = pd.read_csv(auto_url, names=columns, header=None)

In [0]:
auto_df.head()

   symboling norm_loss         make fuel  ... peak_rpm city_mpg hgwy_mpg  price
0          3         ?  alfa-romero  gas  ...     5000       21       27  13495
1          3         ?  alfa-romero  gas  ...     5000       21       27  16500
2          1         ?  alfa-romero  gas  ...     5000       19       26  16500
3          2       164         audi  gas  ...     5500       24       30  13950
4          2       164         audi  gas  ...     5500       18       22  17450

[5 rows x 26 columns]

# Filtering

Often times you will need to look at a subset of a dataframe, to do this you use filtering. Filtering a dataframe requires passing a conditional(s) to a dataframe using square brackets. Any place where the conditions evaluate to True will be returned as part of the dataframe subset, anything that evaluates False will be left out. Let's take a look at a few examples, we will walk through them and break them down.

### Only Alfa-Romero's

With the `auto_df` above, we can look at just the Alfa-Romero's using the line of code below.

In [0]:
auto_df[auto_df['make'] == 'alfa-romero']

   symboling norm_loss         make fuel  ... peak_rpm city_mpg hgwy_mpg  price
0          3         ?  alfa-romero  gas  ...     5000       21       27  13495
1          3         ?  alfa-romero  gas  ...     5000       21       27  16500
2          1         ?  alfa-romero  gas  ...     5000       19       26  16500

[3 rows x 26 columns]

What this is asking Python to do is:
1. I need a subset of `auto_df`, this is communicated with this: `auto_df[...]`
2. The subset should only include Alfa-Romero's, this is communicated with the conditional in the square brackets: `auto_df['make'] == 'alfa-romero'`
 - Anywhere in the original dataframe where the `make` column equals `alfa-romero`

We can even view the conditional by itself, this returns the `make` column. Any row with a `True` is returned in our filtered subset above.

In [0]:
auto_df['make'] == 'alfa-romero'

0       True
1       True
2       True
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: make, Length: 205, dtype: bool

### Four Door Hatchbacks

Let's now take a look at multiple conditionals in our filtering and get all cars that are four doored and hatchbacks.

In [0]:
auto_df[(auto_df['doors'] == 'four') & (auto_df['bod_style'] == 'hatchback')]

     symboling norm_loss      make    fuel  ... peak_rpm city_mpg hgwy_mpg  price
24           1       148     dodge     gas  ...     5500       31       38   6229
64           0       115     mazda     gas  ...     4800       26       32  11245
99           0       106    nissan     gas  ...     5200       27       34   8949
120          1       154  plymouth     gas  ...     5500       31       38   6229
152          1        74    toyota     gas  ...     4800       31       38   6488
157          0        91    toyota     gas  ...     4800       30       37   7198
159          0        91    toyota  diesel  ...     4500       38       47   7788
161          0        91    toyota     gas  ...     4800       28       34   8358
175         -1        65    toyota     gas  ...     4200       27       32   9988
177         -1        65    toyota     gas  ...     4200       27       32  11248

[10 rows x 26 columns]

Again we will break it down to see what we are asking for and what part of the code is doing it:
1. I need a subset of `auto_df`, communicated with square brackets after the dataframe: `auto_df[...]`
2. The subset should only include four door cars that are also hatcbacks, this is communicated to Python with the compound conditional in the square brackets: `(auto_df['doors'] == 'four') & (auto_df['bod_style'] == 'hatchback')`
 - First conditional, only four door cars: `(auto_df['doors'] == 'four')`
 - Second conditional, only hatchbacks: `(auto_df['bod_style'] == 'hatchback')`
 - The "that are also" we used above means we only want rows where the first conditional is `True` and the second conditional is `True`, this is communicated with the bitwise operator: `&`

Again, we can even view the conditionals by themselves to see what they are doing.

In [0]:
# Only rows with True are four door cars
(auto_df['doors'] == 'four')

0      False
1      False
2      False
3       True
4       True
       ...
200     True
201     True
202     True
203     True
204     True
Name: doors, Length: 205, dtype: bool

In [0]:
# Only rows with True are hatchbacks
(auto_df['bod_style'] == 'hatchback')

0      False
1      False
2       True
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: bod_style, Length: 205, dtype: bool

In [0]:
# Only rows with True have both four doors and are hatchbacks

# Said another way, only rows that were True for the first conditional and True 
# for the second conditional will be True in the compound conditional.
(auto_df['doors'] == 'four') & (auto_df['bod_style'] == 'hatchback')

# With multiple conditionals, it is best to use parentheses to keep things clear
# and order of operations obvious.

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

### Filtering Notes

A few last basics about filtering.

You can have any number of conditionals chained together to get the subset you want with any of the operators.

In [0]:
# This is asking for all four door cars that are not hatchback or any car with a wheel base greater than 105
auto_df[((auto_df['doors'] == 'four') & ~(auto_df['bod_style'] == 'hatchback')) | (auto_df['wheel_base'] > 105)]

     symboling norm_loss   make    fuel  ... peak_rpm city_mpg hgwy_mpg  price
3            2       164   audi     gas  ...     5500       24       30  13950
4            2       164   audi     gas  ...     5500       18       22  17450
6            1       158   audi     gas  ...     5500       19       25  17710
7            1         ?   audi     gas  ...     5500       19       25  18920
8            1       158   audi     gas  ...     5500       17       20  23875
..         ...       ...    ...     ...  ...      ...      ...      ...    ...
200         -1        95  volvo     gas  ...     5400       23       28  16845
201         -1        95  volvo     gas  ...     5300       19       25  19045
202         -1        95  volvo     gas  ...     5500       18       23  21485
203         -1        95  volvo  diesel  ...     4800       26       27  22470
204         -1        95  volvo     gas  ...     5400       19       25  22625

[106 rows x 26 columns]

We can also filter for certain columns.

In [0]:
# Subset of auto_df with just the norm_loss column
auto_df['norm_loss']

0        ?
1        ?
2        ?
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: norm_loss, Length: 205, dtype: object

In [0]:
# Subset with 3 columns, notice that to pass multiple columns we have to pass a 
# list of column names into the square brackets
auto_df[['norm_loss', 'fuel', 'make']]

    norm_loss    fuel         make
0           ?     gas  alfa-romero
1           ?     gas  alfa-romero
2           ?     gas  alfa-romero
3         164     gas         audi
4         164     gas         audi
..        ...     ...          ...
200        95     gas        volvo
201        95     gas        volvo
202        95     gas        volvo
203        95  diesel        volvo
204        95     gas        volvo

[205 rows x 3 columns]

We can even chain filters but this will get ugly quick.

In [0]:
auto_df[['norm_loss', 'fuel', 'make']][auto_df[['norm_loss', 'fuel', 'make']]['fuel'] == 'gas']

    norm_loss fuel         make
0           ?  gas  alfa-romero
1           ?  gas  alfa-romero
2           ?  gas  alfa-romero
3         164  gas         audi
4         164  gas         audi
..        ...  ...          ...
199        74  gas        volvo
200        95  gas        volvo
201        95  gas        volvo
202        95  gas        volvo
204        95  gas        volvo

[185 rows x 3 columns]

Instead, use variables to create cleaner, more readable code

In [0]:
# This does the same as the line above
smaller_df = auto_df[['norm_loss', 'fuel', 'make']]
smaller_df[smaller_df['fuel'] == 'gas']

    norm_loss fuel         make
0           ?  gas  alfa-romero
1           ?  gas  alfa-romero
2           ?  gas  alfa-romero
3         164  gas         audi
4         164  gas         audi
..        ...  ...          ...
199        74  gas        volvo
200        95  gas        volvo
201        95  gas        volvo
202        95  gas        volvo
204        95  gas        volvo

[185 rows x 3 columns]

# Making Features

When we engineer or make a feature, what we mean is that we are adding a new column to the dataframe, generally derived from features currently existing in the dataframe. Let's start with a simple example:

In [0]:
auto_df['two_doors'] = (auto_df['doors'] == 'two')
auto_df.head()

   symboling norm_loss         make fuel  ... city_mpg hgwy_mpg  price two_doors
0          3         ?  alfa-romero  gas  ...       21       27  13495      True
1          3         ?  alfa-romero  gas  ...       21       27  16500      True
2          1         ?  alfa-romero  gas  ...       19       26  16500      True
3          2       164         audi  gas  ...       24       30  13950     False
4          2       164         audi  gas  ...       18       22  17450     False

[5 rows x 27 columns]

We now have a new feature, `two_doors` that is a boolean value. It is `True` when the `doors` column is `two`. Not a terribly great new feature but it will make it easy to break down what is happening.
- On the left side of the `=` sign we declare where we are putting the new feature. Since we are creating a new feature we tell it to make a new column `two_doors` but we could easily overwrite a column if we wanted.
- On the right side we pass the new value for that column. 
 - If it is a static value (doesn't change), then the new feature will be nothing but that value.
 - If it is a value that is dependent on other columns, the value will be figured out on a row by row basis. In our example it would look at row 0, find `doors` equals `two` and thus sets the first entry in `two_doors` to `True`. In a case (like row 4) where `doors` does not equal `two`, `two_doors` is set to `False`.

### New Feature with a Static Value

In [0]:
# This new feature is set to 'blue' for every row
auto_df['always_blue'] = 'blue'
auto_df.head()

   symboling norm_loss         make  ...  price two_doors always_blue
0          3         ?  alfa-romero  ...  13495      True        blue
1          3         ?  alfa-romero  ...  16500      True        blue
2          1         ?  alfa-romero  ...  16500      True        blue
3          2       164         audi  ...  13950     False        blue
4          2       164         audi  ...  17450     False        blue

[5 rows x 28 columns]

### New Feature with Dynamic Value (dependent on other features)

In [0]:
# Evaluates on a row by row basis.
# What is the length, width, and height of the current row? 
# The product of the three will be the value of the new feature for this row
auto_df['auto_volume'] = auto_df['length'] * auto_df['width'] * auto_df['height']
auto_df.head()

   symboling norm_loss         make  ... two_doors always_blue auto_volume
0          3         ?  alfa-romero  ...      True        blue  528019.904
1          3         ?  alfa-romero  ...      True        blue  528019.904
2          1         ?  alfa-romero  ...      True        blue  587592.640
3          2       164         audi  ...     False        blue  634816.956
4          2       164         audi  ...     False        blue  636734.832

[5 rows x 29 columns]

### Feature Engineering Mistakes

Here are some common ways to incorrectly make new features

In [0]:
# Fail to assign it to anything. You get answers but they aren't saved anywhere
auto_df['length'] * auto_df['width'] * auto_df['height']

0      528019.904
1      528019.904
2      587592.640
3      634816.956
4      636734.832
          ...
200    721961.760
201    720913.920
202    721961.760
203    721961.760
204    721961.760
Length: 205, dtype: float64

In [0]:
# Assign to a new variable, and thus is not part of the dataframe
auto_area = auto_df['length'] * auto_df['width']
auto_df.head()

   symboling norm_loss         make  ... two_doors always_blue auto_volume
0          3         ?  alfa-romero  ...      True        blue  528019.904
1          3         ?  alfa-romero  ...      True        blue  528019.904
2          1         ?  alfa-romero  ...      True        blue  587592.640
3          2       164         audi  ...     False        blue  634816.956
4          2       164         audi  ...     False        blue  636734.832

[5 rows x 29 columns]

# Top `n`

Let's say I want to see the top 10 two door convertibles with the greatest width. How do we do this? First, break it down into steps.
1. Filter for cars with two doors and are convertibles
2. With the subset dataframe, sort by width
3. Select just the top 10

### 1. Filter

In [0]:
# Make a subset dataframe and save it to a new variable for ease of use and readability
# The new dataframe name may be verbose, but it is better to be descriptive than 
# wondering what is in your variable. Avoid variable names like `df1`, `merged`, etc. when you can
four_door_convertibles = auto_df[(auto_df['doors'] == 'two') & 
                                 (auto_df['bod_style'] == 'convertible')]

print('Shape:', four_door_convertibles.shape)
four_door_convertibles.head()

Shape: (6, 29)

     symboling norm_loss           make  ... two_doors always_blue auto_volume
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904
72           3       142  mercedes-benz  ...      True        blue  645726.420
128          3         ?        porsche  ...      True        blue  566490.600
172          2       134         toyota  ...      True        blue  612612.160

[5 rows x 29 columns]

### 2. Sort

In [0]:
# Sort values allows us to pass a column to sort on using the `by` parameter
# Default behavior is to sort from least to greatest though
four_door_convertibles.sort_values(by='width')

     symboling norm_loss           make  ... two_doors always_blue auto_volume
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904
189          3         ?     volkswagen  ...      True        blue  568624.536
128          3         ?        porsche  ...      True        blue  566490.600
172          2       134         toyota  ...      True        blue  612612.160
72           3       142  mercedes-benz  ...      True        blue  645726.420

[6 rows x 29 columns]

In [0]:
# Reverse the sort order by setting the `ascending` parameter to `False`
four_door_convertibles.sort_values(by='width', ascending=False)

     symboling norm_loss           make  ... two_doors always_blue auto_volume
72           3       142  mercedes-benz  ...      True        blue  645726.420
172          2       134         toyota  ...      True        blue  612612.160
128          3         ?        porsche  ...      True        blue  566490.600
189          3         ?     volkswagen  ...      True        blue  568624.536
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904

[6 rows x 29 columns]

### 3. Select the Top 10

We could now use the `head` function to get the top 10 but this isn't the preferred solution.

In [0]:
print(four_door_convertibles.shape) # Only 6 rows, so really top 6
four_door_convertibles.sort_values(by='width', ascending=False).head(10)

(6, 29)

     symboling norm_loss           make  ... two_doors always_blue auto_volume
72           3       142  mercedes-benz  ...      True        blue  645726.420
172          2       134         toyota  ...      True        blue  612612.160
128          3         ?        porsche  ...      True        blue  566490.600
189          3         ?     volkswagen  ...      True        blue  568624.536
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904

[6 rows x 29 columns]

The preferred method is with slice notation. This is because head always starts at the top of a dataframe whereas slice notation allows you to stop and start anywhere.

In [0]:
# Our answer!
four_door_convertibles.sort_values(by='width', ascending=False)[:10]

     symboling norm_loss           make  ... two_doors always_blue auto_volume
72           3       142  mercedes-benz  ...      True        blue  645726.420
172          2       134         toyota  ...      True        blue  612612.160
128          3         ?        porsche  ...      True        blue  566490.600
189          3         ?     volkswagen  ...      True        blue  568624.536
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904

[6 rows x 29 columns]

The value to the left of the colon in slice notation is the start location. If left empty, like above, it defaults to `0`. The value to the right of the colon is the end location (non-inclusive). If it is left empty or is a number greater than the row count, then it defaults to the very end.

In [0]:
# Same thing as above
four_door_convertibles.sort_values(by='width', ascending=False)[0:10]

     symboling norm_loss           make  ... two_doors always_blue auto_volume
72           3       142  mercedes-benz  ...      True        blue  645726.420
172          2       134         toyota  ...      True        blue  612612.160
128          3         ?        porsche  ...      True        blue  566490.600
189          3         ?     volkswagen  ...      True        blue  568624.536
0            3         ?    alfa-romero  ...      True        blue  528019.904
1            3         ?    alfa-romero  ...      True        blue  528019.904

[6 rows x 29 columns]

In [0]:
# Want just the first two runner ups? Easy with slice notation, impossible with `head`.
four_door_convertibles.sort_values(by='width', ascending=False)[1:3]

     symboling norm_loss     make  ... two_doors always_blue auto_volume
172          2       134   toyota  ...      True        blue   612612.16
128          3         ?  porsche  ...      True        blue   566490.60

[2 rows x 29 columns]

In [0]:
# Return all rows starting at row 3 and ending at the very end of the dataframe
four_door_convertibles.sort_values(by='width', ascending=False)[3:]

     symboling norm_loss         make  ... two_doors always_blue auto_volume
189          3         ?   volkswagen  ...      True        blue  568624.536
0            3         ?  alfa-romero  ...      True        blue  528019.904
1            3         ?  alfa-romero  ...      True        blue  528019.904

[3 rows x 29 columns]

# Final Notes

Programming is all about being extremely thorough and methodical with everything you do. The computer **ONLY** does what you tell it, so you need to be very precise. It is a good habit to list the steps you want to take before you write the code, like we did for the "Top N" example. A bit of planning can save you a lot of time, and it allows you to check your work at intermediary steps.